 <mat-card>
    <mat-tab-group>
        <mat-tab label="DAILY">
            <form class="form" name="startEndDatesForm " [formGroup]="startEndDatesForm" fxFlex="100" >
            <div fxLayout="column "  fxFlex="100"  fxFlexOffset="10"> 
                <div fxLayout="row"   fxFlex="100" fxLayout.sm="column" fxLayout.xs="column" style="padding-top: 15px;margin-top: 3px;" >
                    <div fxLayout="row "  fxFlex="" fxLayoutGap="10"  fxLayoutAlign="start center" fxFlex.lt.md="">
                        <mat-form-field  appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input matInput [matDatepicker]="picker"  formControlName="startDate"
                            [value]="date.value"
                               (dateInput)="addStartEvent('input', $event)" 
                               (dateChange)="addStartEvent('change', $event)"required>
                            <mat-error *ngIf="startEndDatesForm.invalid">{{getstart_dateErrorMessage()}}</mat-error>
                            <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                         </mat-form-field>
                    </div>
                <div fxLayout="row" fxFlex="" fxFlex.lt.md="" fxFlex.gt-sm="" fxLayoutGap="10" fxLayoutAlign="start center" style="margin-bottom: 15px;">
                    <label>Date</label>
                        <input class="every_input" value="1" type="number">
                        <label>of</label>
                </div>

                <div fxLayout="row" fxFlex="" fxFlex.lt.md="" fxFlex.gt-sm="" fxLayoutGap="10" fxLayoutAlign="start center"  >
              
                    <mat-form-field appearance="outline">
                        <mat-label>Select</mat-label>
                        <mat-select   [formControl]="selectForm" required>
                          <mat-option *ngFor="let selections of selection" [value]="selections.value">
                            {{selections.viewValue}}
                          </mat-option>
                        </mat-select>
                        <mat-error *ngIf="startEndDatesForm.invalid">{{getselectErrorMessage()}}</mat-error>
                    </mat-form-field>

                </div>


                    <mat-form-field fxLayout="row" fxFlex="" fxFlex.lt.md="" fxFlex.gt-sm="" *ngIf="selectForm.value === '0'"  fxLayoutGap="10" appearance="outline" >
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="picker1"
                         formControlName="endDate"
                         [min]="endMinDate"  
                        (dateInput)="addEndEvent('input', $event)" 
                        (dateChange)="addEndEvent('change', $event)"
                          required>
                        <mat-error *ngIf="startEndDatesForm.invalid">{{getend_dateErrorMessage()}}</mat-error>
                        <mat-datepicker-toggle matPrefix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxLayout="row" fxFlex="" fxFlex.lt.md="" fxFlex.gt-sm="" *ngIf="selectForm.value === '1'"  fxLayoutGap="10" appearance="outline" >
                        <input matInput class="every_input" value="1" type="number"
                        min="0"
                         formControlName="occurences" required>
                        <mat-error *ngIf="startEndDatesForm.invalid">{{getoccErrorMessage()}}</mat-error>
                        <label>Occurances</label>
                    </mat-form-field>
                
            </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <button mat-raised-button  type="submit"  [disabled]="startEndDatesForm.invalid" (click)="generateDaily()" color="primary">Submit</button>
                </div>
            </div>
       
         <!--  [disabled]="StartEnddateForm.invalid" --> 
        </form>
        </mat-tab>
        <mat-tab label="WEEKLY"> Content 2 </mat-tab>
        <mat-tab label="MONTHLY"> Content 3 </mat-tab>
        <mat-tab label="QUARTERLY"> Content 4 </mat-tab>
        <mat-tab label="ONE TIME"> Content 5</mat-tab>
      </mat-tab-group>
</mat-card>







<!-- <mat-card>
    <mat-card-header class="card-header" fxLayout="row" >
        <div fxFlex="50"fxLayoutAlign="start center">
            <mat-card-title fxLayoutAlign=" center">Set a Frequency</mat-card-title>
        </div>
        <div fxFlex="50">
            <mat-card-title fxLayoutAlign="end center">
                <label mat-button (click)="onClickDown()"> 
                    <i class="material-icons">arrow_right_alt</i>  
                    BACK
                </label>
            </mat-card-title>
        </div>
    </mat-card-header>

    <mat-card-content>
        <mat-tab-group [(selectedIndex)]="tabIndex">
            <mat-tab label="DAILY">
                <form [formGroup]="recurringForm" fxLayout="column" fxFlex="100">
                    <div fxLayout="column">
                        <div fxFlex="50">
                            <div fxLayout="row" fxFlex="10"></div>
                            <div fxLayout="row" fxFlex="60"  class="daily" fxLayoutAlign="start center">    
                                <label>Every</label>
                                <input 
                                    class="line  ends_after_input" 
                                    type="number" 
                                    value="1" readonly>
                                <mat-label>Day at</mat-label> &nbsp;
                                <input class="dat" type="time">
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxFlex="10"  class="starts_form"></div>
                            <div fxLayout="row" fxFlex="100"  class="bgcor1" fxLayoutAlign="start center">
                                <div fxLayout="column" fxFlex="100">
                                    <label><b>STARTS FROM</b></label>
                                    <span><input
                                           type="hidden"
                                           ngbDatepicker
                                           #datepicker="ngbDatepicker"
                                           (dateSelect)="dateSelected($event)"
                                         >
                                        </span>
                                    <div fxLayout="row" fxFlex="50" class="white">
                                        <input (click)="datepicker.toggle()"
                                        class="form-control"
                                        name="dpFromDate"
                                        #dpFromDate
                                        [value]="formatter.format(f['startDate'].value)"
                                        (input)="setStartDate(dpFromDate.value)"
                                      >
                                    </div>
                                    <mat-radio-group [(ngModel)]="radioSelected" [ngModelOptions]="{standalone: true}">
                                    <div fxLayout="column" fxFlex="100">
                                        <div fxLayout="row"  fxFlex="50">
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS BY </p>
                                                <mat-radio-button name="end" value="1" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="white">
                                                        <input #dpToDate
                                                        (click)="datepicker.toggle()"
                                                        class="form-control" 
                                                        name="dpToDate"
                                                        [value]="formatter.format(f['endDate'].value)"
                                                        (input)="setEndDate(dpToDate.value)">
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS AFTER</p>
                                                <mat-radio-button name="end" value="2" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <input class="line ends_after_input" 
                                                            type="number"  value="{{dates.length}}"
                                                            formControlName="occurence"
                                                             readonly>
                                                        <label class="occenence_label">Occurence</label>
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column"  fxFlex="50" >
                                                <p class="p_text">ONGOING</p>
                                                <mat-radio-button name="end" value="3" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <label class="ongoing" >The responsibility will<br>perpetually exist</label>
                                                    </div>
                                                </mat-radio-button>
                                           </div>
                                       
                                        </div>
                                    </div>
                                </mat-radio-group>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="WEEKLY">
                <form [formGroup]="recurringForm" fxLayout="column" fxFlex="100">
                    <div fxLayout="column">
                        <div class="checkBox" fxLayout="row" fxLayoutGap="100px"  fxLayoutAlign="center center ">
                            <div fxLayout="row" formArrayName="onWeekday" *ngFor="let weekday of weekdays; let i = index">
                                <section>
                                    <mat-checkbox [formControlName]="i">
                                      {{weekday}}
                                    </mat-checkbox>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="column">
                        <div fxFlex="50">
                            <div fxLayout="row" fxFlex="10"></div>
                            <div fxLayout="row" fxFlex="60"  class="daily" fxLayoutAlign="start center">    
                                <label>Every</label>
                                <input 
                                    class="line  ends_after_input" 
                                    type="number" 
                                    value="1" readonly>
                                <mat-label>Week at</mat-label> &nbsp;
                                <input class="dat" type="time">
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxFlex="10"  class="starts_form"></div>
                            <div fxLayout="row" fxFlex="100"  class="bgcor1" fxLayoutAlign="start center">
                                <div fxLayout="column" fxFlex="100">
                                    <label><b>STARTS FROM</b></label>
                                    <span><input
                                        type="hidden"
                                        ngbDatepicker
                                        #datepicker1="ngbDatepicker"
                                        (dateSelect)="dateSelected($event)"
                                      >
                                     </span>
                                        
                                    <div fxLayout="row" fxFlex="50" class="white">
                                        <input (click)="datepicker1.toggle()"
                                        class="form-control"
                                        name="dpFromDate1"
                                        #dpFromDate1
                                        [value]="formatter.format(f['startDate'].value)"
                                        (input)="setStartDate(dpFromDate.value)"
                                      >
                                    </div>
                                    <mat-radio-group [(ngModel)]="radioSelected" [ngModelOptions]="{standalone: true}">
                                    <div fxLayout="column" fxFlex="100">
                                        <div fxLayout="row"  fxFlex="50">
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS BY </p>
                                                <mat-radio-button name="end" value="1" checked="true"  fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="white">
                                                        <input #dpToDate1
                                                        (click)="datepicker1.toggle()"
                                                        class="form-control" 
                                                        name="dpToDate1"
                                                        [value]="formatter.format(f['endDate'].value)"
                                                        (input)="setEndDate(dpToDate.value)">
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS AFTER</p>
                                                <mat-radio-button name="end" value="2" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <input class="line ends_after_input" 
                                                            type="number"  value="{{dates.length}}"
                                                            formControlName="occurence"
                                                             readonly>
                                                        <label class="occenence_label">Occurence</label>
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column"  fxFlex="50" >
                                                <p class="p_text">ONGOING</p>
                                                <mat-radio-button name="end" value="3" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <label class="ongoing" >The responsibility will<br>perpetually exist</label>
                                                    </div>
                                                </mat-radio-button>
                                           </div>
                                       
                                        </div>
                                    </div>
                                </mat-radio-group>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </mat-tab>

            
            <mat-tab label="MONTHLY">
                <form [formGroup]="recurringForm" fxLayout="column" fxFlex="100">
                    <div fxLayout="column">
                        <div fxFlex="50">
                            <div fxLayout="row" fxFlex="10"></div>
                            <div fxLayout="row" fxFlex="60"  class="daily" fxLayoutAlign="start center">    
                                <label>Day</label>
                                <input 
                                    class="line  ends_after_input" 
                                    type="number" 
                                    value="1" readonly>
                                <mat-label>of</mat-label> &nbsp;
                                <input class="dat" type="time">
                            </div>
                        </div>
                        <div fxLayout="column">
                            <div  fxLayout="row" fxLayoutGap="50px"  fxLayoutAlign="center center ">
                                <div fxLayout="row" formArrayName="onMonthday" *ngFor="let onMonthday of months; let i = index">
                                    <section>
                                        <mat-checkbox >
                                          {{onMonthday}}
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div fxLayout="row" fxFlex="10"  class="starts_form"></div>
                            <div fxLayout="row" fxFlex="100"  class="bgcor1" fxLayoutAlign="start center">
                                <div fxLayout="column" fxFlex="100">
                                    <label><b>STARTS FROM</b></label>
                                    <span><input
                                        type="hidden"
                                        ngbDatepicker
                                        #datepicker2="ngbDatepicker"
                                        (dateSelect)="dateSelected($event)"
                                        formControlName="onMonthday"

                                      >
                                     </span>
                                        
                                    <div fxLayout="row" fxFlex="50" class="white">
                                        <input (click)="datepicker2.toggle()"
                                        class="form-control"
                                        name="dpFromDate1"
                                        formControlName="onMonthday"
                                        #dpFromDate
                                        [value]="formatter.format(f['startDate'].value)"
                                        (input)="setStartDate(dpFromDate.value)"
                                      >
                                    </div>
                                    <mat-radio-group [(ngModel)]="radioSelected" [ngModelOptions]="{standalone: true}">
                                    <div fxLayout="column" fxFlex="100">
                                        <div fxLayout="row"  fxFlex="50">
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS BY </p>
                                                <mat-radio-button name="end" value="1" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="white">
                                                        <input #dpToDate
                                                        (click)="datepicker2.toggle()"
                                                        class="form-control" 
                                                        name="dpToDate"
                                                        [value]="formatter.format(f['endDate'].value)"
                                                        (input)="setEndDate(dpToDate.value)">
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column" fxFlex="50">
                                                <p class="p_text">ENDS AFTER</p>
                                                <mat-radio-button name="end" value="2" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <input class="line ends_after_input" 
                                                            type="number"  value="{{dates.length}}"
                                                            formControlName="occurence"
                                                             readonly>
                                                        <label class="occenence_label">Occurence</label>
                                                    </div>
                                                </mat-radio-button>
                                            </div>
                                            <div fxLayout="column"  fxFlex="50" >
                                                <p class="p_text">ONGOING</p>
                                                <mat-radio-button name="end" value="3" fxLayoutAlign="start center">
                                                    <div fxLayout="row" class="bgcor">
                                                        <label class="ongoing" >The responsibility will<br>perpetually exist</label>
                                                    </div>
                                                </mat-radio-button>
                                           </div>
                                       
                                        </div>
                                    </div>
                                </mat-radio-group>
                                </div>
                            </div>
                        </div>  
                    </div>
                </form>
            </mat-tab>

            <mat-tab label="QUARTERLY"></mat-tab>


            <mat-tab label="YEARLY">
                <div class="date" fxLayout="column" fxFlex="100" fxLayoutAlign="start">
                    <div fxFlex="5" fxLayout="row"></div>
                    <div fxLayout="row">
                        <span class="row">
                            <label>Every</label> &nbsp;
                            <input class="line" type="number" value="1" readonly>
                            <mat-label>Year of Day</mat-label> &nbsp;
                            <input class="dat" type="time">
                        </span>
                    </div>
                </div>
                <div class="checkBox" fxFlex="100" fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="3"></div>
                    <mat-radio-group  fxLayoutGap="20px" >
                    <mat-radio-button *ngFor="let y of years" [value]="y">
                      {{y}}
                    </mat-radio-button>
                  </mat-radio-group>                
                </div>
                <div class="day">
                    <form [formGroup]="weeklyForm" fxLayout="column" fxFlex="100">
                        <div fxLayout="column">
                            <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                                <mat-form-field class="start">
                                    <label>STARTS FROM</label>
                                    <mat-datepicker #picker6></mat-datepicker>
                                    <input class="form-control" matInput
                                        [max]="startEndDatesForm.controls['endDate'].value" formControlName="startDate"
                                        [matDatepicker]="picker6" (dateInput)="addEvent('input', $event)">
                                    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" class="fff" fxFlex="100">
                                <mat-radio-group fxLayout="row" fxFlex="100" formControlName="valueRadio">
                                    <mat-radio-button name="end" value="1" fxFlex="50">
                                        <div>
                                            <mat-form-field class="formArea">
                                                <label>ENDS BY</label>
                                                <mat-datepicker #picker7>
                                                </mat-datepicker>
                                                <input class="form-control" matInput name="edn"
                                                    [min]="startEndDatesForm.controls['startDate'].value"
                                                    formControlName="endDate" [matDatepicker]="picker7" readonly>
                                                <mat-datepicker-toggle matSuffix [for]="picker7">
                                                </mat-datepicker-toggle>
                                            </mat-form-field>
                                        </div>
                                    </mat-radio-button>
                                    <mat-radio-button name="end" value="2" fxFlex="50">
                                        <div fxLayoutAlign="center">
                                            <mat-form-field class="formArea">
                                                <div fxLayout="row" fxFlex="50">
                                                    
                                                    <input name="edn" matInput formControlName="occurence" class="line"
                                                        type="number">
                                                    <p>Occurances</p> &nbsp;
                                                </div>
                                            </mat-form-field>
                                        </div>
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                    </form>
                </div>
            </mat-tab>

            <mat-tab label="ONE TIME">
                
            </mat-tab>


            <mat-tab label="ON COMPLETION OF"> </mat-tab>

        </mat-tab-group>
    </mat-card-content>



    <mat-card-footer class="card-footer">
        <div  fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
            <div fxFlex="50">
                <label>Have selected a <b>{{tabName}}</b> frequency</label>
            </div>
            <div fxFlex="50" fxLayoutAlign="end">
                <label style="margin-top: 8px;margin-right: 5px;"><b> esc </b> to cancel</label> &nbsp;
                <button (click)="onClickNext()" mat-raised-button color="primary">NEXT &nbsp; 
                    <span class="material-icons">arrow_right_alt</span>
                </button>
            </div>
        </div>
    </mat-card-footer>

</mat-card>


<div class="date-event">
    <span *ngFor="let date of dates"> {{ date | date:'dd-MMM-YYYY' }} </span>
    
</div> 

-->






